{% extends "index.html" %}

{%load static%}

{%block contenidoquecambia%}


<br>
<br>


    <div>
       <h2 >
           Acerca de Mi
       </h2>
            <div class="text-center">
                    <p>Hola que tal! Mi nombre es Federico Wapñarsky, soy estudiante de cuarto año de secundario, tambien soy jugador federado de handball.</p>
                    <br>
                    <p>Tengo conocimientos muy basicos sobre html y css previos a este curso, y luego de terminar esta etapa me gustario continuar en el camino de conseguir conocimientos para lograr ser un desarrollador web full-stack</p>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>


{%endblock contenidoquecambia%}